// brand colors
$primary: #364C1C;
$rising-green: #ffcc00;

// black & white
$white: #ffffff;
$black: #5F5F5F;

//states
$success: #0bd564;
$warning: #ffcc00;
$error: #f20168;

// shades of gray
$dark: #202021;
$dim-grey: #333333;
$grey: #333333;
$dark-grey: #5e6675;
$pale-grey: #00E676;

