@import "src/styles/devices";
.ant-avatar {
  margin-top: 16px;
  margin-right: 16px;
}

.watermark {
  bottom: 24px;
  display: none;
  position: absolute;
  right: 3rem;
  z-index: 1;
  @include for-tablet-portrait-up {
	  display: block;
  }
}