@import "src/styles/colors";
@import "src/styles/devices";
@import "src/styles/overrides";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
	font-family: 'Avenir', sans-serif;
  margin: 0;
  padding: 0;
	font-size: 1rem;
	line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
	padding: 0 2rem;
	width: 1280px;
	margin: 0 auto;
	max-width: 100%;
  @include for-tablet-portrait-up {
	  padding: 0 3rem;
  }
}

.main-header {
	background-color: transparent;
	height: 90px;
	padding: 2rem 0 8rem;
	width: 100%;
  z-index: 1;

	&.scrolled {
		background: $white;
		border-bottom: 0;
	}
}

.main-pages {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.heading {
	padding-bottom: 2rem;
	.header {
		color: $primary;
	}
	.sub-header {
		font-size: 1.125rem;
	}
}


// Utilities
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}